/Backup/*
TAGS
bin/
obj/
*/Log/
*/Logs/
_ReSharper*
*.DotSettings.user
*.suo
*.jtconfig
*.orig
*.dgml
*.csproj.user
*.DotSettings
*.ncrunchsolution
*.ncrunchsolution.user
*.coverage
TestResults/*
*.pubxml.user
*.pubxml
*/Content/Branding/
OmegaWeb/OmegaWeb/Log/OmegaWeb3Log.txt
Omega.Smpp.WebAPI/devices.txt
WE2013-settings.xml
*.playlist
*.psess
*.vspx
*.rej
*.gzip
*.map
syntax: regexp
/CustomSkins/*
source/packages/*
OmegaWeb/OmegaWeb/public
npm-debug*
OmegaWeb/OmegaWeb/node_modules
OmegaWeb/OmegaWeb/Index.html
site.flat.min.css
site.print.min.css
OmegaWeb/OmegaWeb/Content/js
OmegaWeb/OmegaWeb/Views/Report/_PrintViewStylesAndScripts.html
OmegaWeb/OmegaWeb/Content/tests/Index.html
OmegaWeb/OmegaWeb/Scripts/_references.js
